@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "spaceGrotesk";
    src: url(../public/fonts/SpaceGrotesk-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: "spaceMedium";
    src: url(../public/fonts/SpaceGrotesk-Medium.ttf) format('truetype');
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary : #B9FF66;
  --secondary : #191A23;
  --gray : #F3F3F3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden !important;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .customSticky {
    @apply sticky top-0 right-0 left-0 py-5 backdrop-blur-2xl
  }
}

@media screen and (min-width : 768px) {
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  h4 {
    font-size: 14px;
  }
  
  p {
    font-size: 16px;
  }
}


@media screen and (min-width : 1024px) {
  h1 {
    font-size: 64px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  p {
    font-size: 18px;
  }
}

